@import url('https://fonts.googleapis.com/css2?family=Yuji+Syuku&display=swap');

:root {
    --bg-color: #8D86C9;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.container {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr 2fr 5fr;
    font-family: 'Yuji Syuku', serif;

    background-color: var(--bg-color);
}