@import url('https://fonts.googleapis.com/css2?family=Yuji+Syuku&display=swap');

:root {
    --bg-color: #8D86C9;
    --text-color: #312F2F;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.container {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr 2fr 5fr;
    font-family: 'Yuji Syuku', serif;

    background-color: var(--bg-color);
}

.header {
    font-size: 4rem;
    font-weight: 800;
    letter-spacing: 1rem;
    display: flex;
    justify-content: center;
    color: var(--text-color);
    text-shadow: 0px 0px 6px #f0f7ee;
}