@import url('https://fonts.googleapis.com/css2?family=Yuji+Syuku&display=swap');

:root {
    --bg-color: #8D86C9;
    --text-color: #312F2F;
}

* {
    box-sizing: border-box;
    margin: 0px;
}

.container {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr 2fr 5fr;
    font-family: 'Yuji Syuku', serif;

    background-color: var(--bg-color);
}

.header {
    font-size: 4rem;
    font-weight: 800;
    letter-spacing: 1rem;
    display: flex;
    justify-content: center;
    color: var(--text-color);
    text-shadow: 0px 0px 6px #f0f7ee;
}

.options {
    background-color: #DFDBE5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='126' height='84' viewBox='0 0 126 84'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%238d86c9' fill-opacity='0.4'%3E%3Cpath d='M126 83v1H0v-2h40V42H0v-2h40V0h2v40h40V0h2v40h40V0h2v83zm-2-1V42H84v40h40zM82 42H42v40h40V42zm-50-6a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM8 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm96 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm-42 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm30-12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM20 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm12 24a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM8 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM8 78a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm12 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm54 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM50 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM50 78a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm54-12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm12 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM92 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM92 78a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24-42a4 4 0 1 1 0-8 4 4 0 0 1 0 8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    display: grid;
    grid-template-rows: 1fr 2fr;
    justify-content: center;
    font-size: 2rem;
}

.options > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.optionBtns > button {
    width: max(30%, 6rem);
    height: max(70%, 6rem);
    background-color: #F0F7EE;
    border: 0px;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: inherit;
    font-size: 1.5rem;
}

#humanBtn {
    margin-right: 20%;
}

#humanBtn:hover {
    background-color: #ACECF7;
}

#botBtn:hover {
    background-color: #F4989C;
}